@import url("./cabecalho.css");
@import url("./conteudo.css");
@import url("./break-point-1004px.css");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html{
    font-size: 62.7%;/*equivalente a 10 px*/
}

.tit-sec{
    font-size: 4rem;/*multiplica olhando pro pai, no caso o Body 4em = 10*4*/
    text-align: center;
}

.rodape{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    background-color: #d9d9d9;

}

.rodape img{
    max-width: 10%;
    display: block;
    margin: 0 auto;


}

.rodape nav{
    display: flex;
    justify-content: space-around;
 
    
}

.rodape a{
    padding: 5%;
}

.rodape a:hover{
    background-color: rgba(128, 128, 128, 0.493);
}
